/* Fonts */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-Regular.eot');
  src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('ProximaNova-Regular.woff2') format('woff2'), url('ProximaNova-Regular.woff') format('woff'), url('ProximaNova-Regular.ttf') format('truetype'), url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('ProximaNova-Bold.eot');
  src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('ProximaNova-Bold.woff2') format('woff2'), url('ProximaNova-Bold.woff') format('woff'), url('ProximaNova-Bold.ttf') format('truetype'), url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Animations */
.giveConsult {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.giveConsult:hover {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
/* Varriables */
/* Basic settings */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:hover {
  border: none;
  outline: none;
}
.nextArrow {
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateX(-100%) translateY(-50%);
          transform: translateX(-100%) translateY(-50%);
  background: transparent;
  border: none;
  z-index: 9;
}
.nextArrow img {
  height: 2rem;
  width: 2rem;
}
.prevArrow {
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateX(100%) translateY(-50%);
          transform: translateX(100%) translateY(-50%);
  background: transparent;
  border: none;
  z-index: 9;
}
.prevArrow img {
  height: 2rem;
  width: 2rem;
}
/* Layout */
.main1 {
  padding-top: 0.9375rem;
  padding-bottom: 2.5rem;
  background: url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.main1 header {
  margin-bottom: 6.5rem;
  height: 7rem;
}
.main1 header .logo {
  height: 7rem;
  display: table;
  width: 100%;
}
.main1 header .logo-block {
  display: table-cell;
  vertical-align: middle;
}
.main1 header .number {
  height: 7rem;
  display: table;
  width: 100%;
}
.main1 header .number-block {
  display: table-cell;
  vertical-align: middle;
}
.main1 header .number-block a {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: #292929;
  text-decoration: none;
  font-size: 1.25rem;
}
.main1 header .button {
  height: 7rem;
  display: table;
  width: 100%;
}
.main1 header .button-block {
  display: table-cell;
  vertical-align: middle;
}
.main1 header .button-block button {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  background-color: #fcb303;
  padding: 1.25rem 1.75rem;
}
.main1 .block1 h1 {
  margin-bottom: 3.3125rem;
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: #292929;
  font-size: 2.5rem;
}
.main1 .block1 h2 {
  margin-bottom: 3.75rem;
  font-size: 1.5rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: #292929;
}
.main1 .block1 .box {
  margin-bottom: 2.3125rem;
  background-color: #70c849;
  padding: 1.875rem 2.5rem 1.5rem 2.5rem;
  display: inline-block;
  color: #ffffff;
}
.main1 .block1 .box span {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}
.main1 .block1 .box span strong {
  font-size: 1.875rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
}
.main1 .block1 h3 {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  text-transform: uppercase;
  color: #292929;
}
.main1 .form {
  padding: 2.875rem 3.125rem 2.6875rem 3.125rem;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 2.25rem;
}
.main1 .form h1 {
  font-size: 1.125rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  margin-bottom: 2.4375rem;
}
.main1 .form h1 strong {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
}
.main1 .form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  padding: 0.5rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 0.813rem;
  color: #565656;
}
.main1 .form input {
  width: 16rem;
  height: 3.375rem;
  border-radius: 0.313rem;
  border: 0.063rem solid #dddddd;
  margin-bottom: 1.5625rem;
}
.main1 .form button {
  margin-top: -0.1875rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  background-color: #fcb303;
  padding: 1.6875rem 3.4375rem;
  margin-bottom: 0.9375rem;
}
.main1 .form small {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: #565656;
}
.main1 .small {
  display: inline-block;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  margin-left: 1.875rem;
  width: 12.938rem;
}
.main2 h1 {
  margin-top: 6.1875rem;
  margin-bottom: 7.75rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: #292929;
}
.main2 .slider1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 7.5625rem;
}
.main2 .slider1-block {
  text-align: center;
  display: inline-block;
}
.main2 .slider1-block h3 {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #292929;
  margin-bottom: 2.1875rem;
}
.main2 .slider1-block p {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #292929;
  width: 80%;
  margin: auto;
}
.main2 .slider1-img {
  height: 4.313rem;
  margin-bottom: 4rem;
}
.main2 .slider1-img source {
  margin: auto;
}
.main2 .slider1-img img {
  margin: auto;
}
.modalWindow {
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.modalWindow-content {
  width: 44.376rem;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.modalWindow-content .exit-button {
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  position: absolute;
  left: 100%;
  background-color: transparent;
  border: none;
}
.modalWindow-content .exit-button:hover {
  outline: none;
}
.modalWindow-slider-block {
  text-align: center;
}
.modalWindow-slider-block h2 {
  font-size: 1.125rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: #292929;
  margin-bottom: 2.8125rem;
}
.modalWindow-slider-block .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 12rem;
  margin-bottom: 3.0625rem;
}
.modalWindow-slider-block .box-element {
  display: inline-block;
}
.modalWindow-slider-block .box-element .picture {
  height: 4rem;
  display: table;
  margin: auto;
  margin-bottom: 1.4375rem;
}
.modalWindow-slider-block .box-element .picture-block {
  display: table-cell;
  vertical-align: middle;
}
.modalWindow-slider-block .box-element input {
  margin-bottom: 1.125rem;
}
.modalWindow-slider-block .box-element p {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 0.938rem;
  color: #292929;
}
.modalWindow-slider-block button {
  padding: 1.125rem 4.1875rem;
  border-radius: 0.5rem;
  border: 0.063rem solid #dadada;
  background-color: #eeeeee;
  -webkit-box-shadow: 0 0.5rem 0.813rem rgba(0, 0, 0, 0.04);
          box-shadow: 0 0.5rem 0.813rem rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}
.modalWindow-slider-block .button1 {
  -webkit-box-shadow: 0 0.5rem 0.813rem rgba(0, 0, 0, 0.04);
          box-shadow: 0 0.5rem 0.813rem rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  border: 0.063rem solid #fbb202;
  background-color: #ffb504;
  color: #ffffff;
  padding: 1.125rem 2.625rem;
  font-size: 0.875rem;
}
.modalWindow-block1 {
  background-color: #f8f8f8;
  height: 33rem;
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}
.modalWindow-block1 h1 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #292929;
  margin-bottom: 4.125rem;
  margin-top: 2.125rem;
}
.modalWindow-block2 {
  height: 33rem;
  background-color: #ffffff;
}
.modalWindow-block2 .form {
  text-align: center;
  padding: 2.125rem 3.125rem 1.4375rem;
}
.modalWindow-block2 .form h1 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #292929;
  margin-bottom: 2.5rem;
}
.modalWindow-block2 .form input {
  width: 16rem;
  height: 3.375rem;
  border-radius: 0.313rem;
  border: 0.063rem solid #dddddd;
  margin-bottom: 1.5625rem;
}
.modalWindow-block2 .form .input {
  height: 5.688rem;
}
.modalWindow-block2 .form button {
  margin-top: -0.625rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0.5rem 0.813rem rgba(0, 0, 0, 0.04);
          box-shadow: 0 0.5rem 0.813rem rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  border: 0.063rem solid #ffba15;
  background-color: #ffb504;
  padding: 1.6875rem 3.4375rem;
  margin-bottom: 0.9385rem;
}
.modalWindow-block2 .form label {
  position: absolute;
  padding: 0.5rem;
  background-color: #ffffff;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 0.813rem;
  color: #565656;
}
.modalWindow-block2 .form small {
  margin-bottom: 1.6875rem;
  color: #292929;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 0.813rem;
}
.main3 {
  padding: 7.5rem 0;
  background-color: #0c870c;
}
.main3 h1 {
  color: #ffffff;
  font-size: 2.25rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 3.0625rem;
}
.main3 p {
  color: #ffffff;
  font-size: 1.1rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
}
.main3 button {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  background-color: #fcb303;
  padding: 1.2rem;
}
.main3 .block {
  margin-top: 5.625rem;
}
.main3 .block-element {
  text-align: center;
  background-color: #ffffff;
  padding: 2rem 1.5rem;
  display: inline-block;
  min-height: 50rem;
}
.main3 .block-element h2 {
  font-size: 1.188rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: #292929;
}
.main3 .block-element h3 {
  font-size: 1.188rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: #292929;
  margin-bottom: 2.1875rem;
}
.main3 .block-element h3 strong {
  font-size: 1.875rem;
}
.main3 .block-element ul {
  min-height: 15rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main3 .block-element span {
  font-size: 1.125rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: #292929;
}
.main3 .block-element span:before {
  content: '\2714';
  color: #26650a;
  margin-right: 0.8rem;
  height: 1rem;
  width: 1rem;
}
.main3 .block-element img {
  margin: 2.1875rem 0;
  width: 100%;
  min-height: 15rem;
}
.main3 .block-element button {
  width: 70%;
}
.main4 {
  position: relative;
  padding: 6.25rem 0;
  background: url(../img/main4-bg.png) center center no-repeat;
  background-size: cover;
}
.main4 .main-bg-picture {
  position: absolute;
  bottom: 0;
}
.main4 .main-bg-picture img {
  width: 22rem;
}
.main4 h1 {
  font-size: 2.25rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: #292929;
  margin-bottom: 6.25rem;
}
.main4 .slider2 {
  -webkit-box-shadow: 0 0.75rem 1.125rem rgba(0, 0, 0, 0.11);
          box-shadow: 0 0.75rem 1.125rem rgba(0, 0, 0, 0.11);
}
.main4 .slider2-block {
  padding: 3.75rem;
  background-color: #ffffff;
}
.main4 .slider2-block .text {
  margin-top: 1rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.938rem;
  color: #292929;
  padding: 1rem;
  border: 0.125rem solid #49bf15;
}
.main4 .slider2-block .text::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-top: 0.125rem solid #49bf15;
  border-left: 0.125rem solid #49bf15;
  -webkit-transform: rotate(45deg) translateY(-2.6rem);
          transform: rotate(45deg) translateY(-2.6rem);
  background-color: #ffffff;
}
.main4 .media h4 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: #292929;
  font-size: 0.875rem;
}
.main4 .media h5 {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: #292929;
  font-size: 1rem;
}
.main4 .form {
  margin: auto;
  margin-top: 3.75rem;
  background-color: #ffffff;
  padding: 3.1876rem 8.5rem;
}
.main4 .form h2 {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  color: #292929;
  margin-bottom: 3rem;
}
.main4 .form input {
  height: 3.375rem;
  border-radius: 0.313rem;
  border: 0.063rem solid #dddddd;
  margin-bottom: 2rem;
}
.main4 .form label {
  font-size: 0.813rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: #565656;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
}
.main4 .form button {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  background-color: #fcb303;
  padding: 1.2rem;
}
.next {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #49bf15;
  top: 0;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  z-index: 1;
}
.prev {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #49bf15;
  top: 0;
  top: 50%;
  right: 0;
  right: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  z-index: 1;
}
.main5 {
  background: url(../img/main5/main5-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 7.5rem 0;
}
.main5 h1 {
  font-size: 2.25rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: #292929;
  margin-bottom: 3rem;
}
.main5 h2 {
  font-size: 1rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: #292929;
  margin-bottom: 4rem;
}
.main5 .first {
  margin-bottom: 5rem;
}
.main5 .block {
  display: block;
}
.main5 .block-element p {
  font-size: 1rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: #292929;
  width: 80%;
}
.main5 .block-element h3 {
  min-height: 3.2rem;
  margin: 2rem 0;
  font-size: 1.4rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: #292929;
}
.main5 .block-element .img {
  height: 6.7rem;
  display: table;
}
.main5 .block-element .img-block {
  display: table-cell;
  vertical-align: middle;
}
.main6 {
  background-color: #f5f5f5;
  padding: 7.5rem 0;
}
.main6 h1 {
  font-size: 3rem;
  color: #358015;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
}
.main6 p {
  font-size: 1rem;
  color: black;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
}
.main6 .block-element .img {
  width: 30%;
  float: left;
  display: table;
  height: 12rem;
}
.main6 .block-element .img-block {
  display: table-cell;
  vertical-align: middle;
}
.main6 .block-element .text {
  width: 70%;
  float: right;
  display: table;
  height: 12rem;
}
.main6 .block-element .text-block {
  display: table-cell;
  vertical-align: top;
  padding-top: 50%;
}
.main6 .block-element .text-block p {
  font-size: 0.8rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: black;
}
.main6 .block-element .text-block p strong {
  font-size: 1rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: black;
}
.main7 {
  position: relative;
  padding-top: 7.5rem;
}
.main7 h1 {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 2.25rem;
  margin-bottom: 4.375rem;
}
.main7 .block {
  padding-bottom: 8rem;
}
.main7 .block-element {
  min-height: 24rem;
  padding: 3rem;
}
.main7 .block-element:nth-child(1) {
  border: 0.25rem solid #e8e8e8;
}
.main7 .block-element:nth-child(2) {
  border: 0.25rem solid #358015;
}
.main7 .block-element h2 {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 1.313rem;
}
.main7 .block-element ul {
  min-height: 14rem;
}
.main7 .block-element ul li {
  width: 100%;
  display: table;
  margin-bottom: 1rem;
  min-height: 3rem;
}
.main7 .block-element ul li p {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1rem;
  display: table-cell;
  vertical-align: middle;
  width: 90%;
}
.main7 .block-element ul li:last-child {
  margin-bottom: 0;
}
.main7 .block-element .first li:before {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
  content: '\2716';
  color: #ff0000;
  font-size: 1.5rem;
}
.main7 .block-element .second li:before {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
  content: '\2714';
  color: #358015;
  font-size: 1.5rem;
}
.main7 .block-element h2 {
  font-size: 1.313rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: #292929;
  margin-bottom: 3rem;
}
.main7 img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateX(-4rem);
          transform: translateX(-50%) translateX(-4rem);
}
.main8 {
  padding: 7.5rem 0 5.4rem 0;
  text-align: center;
  background: url(../img/main4-bg.png) center center no-repeat;
  background-size: cover;
}
.main8 h1 {
  font-size: 2.25rem;
  color: black;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 3rem;
}
.main8 h2 {
  font-size: 1.188rem;
  color: black;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  margin-bottom: 4.5rem;
}
.main8 .img {
  width: 100%;
  height: 12rem;
  display: table;
}
.main8 .img-block {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.main8 h3 {
  font-size: 1.375rem;
  color: black;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.main8 p {
  font-size: 1.188rem;
  color: black;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  min-height: 4rem;
  margin-bottom: 3rem;
}
.main8 p strong {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
}
.main8 .block-element {
  min-height: 28rem;
}
.main8 small {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 1.125rem 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 1.125rem 0 rgba(0, 0, 0, 0.11);
  font-size: 1rem;
  color: #6ba253;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
}
.main8 h4 {
  font-size: 1.25rem;
  color: black;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
}
.main9 {
  padding: 7.5rem 0;
  background: url(../img/main9/main9-bg.jpg) center center no-repeat;
  background-size: cover;
}
.main9 h1 {
  margin-bottom: 3rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  color: #292929;
  font-size: 2.5rem;
}
.main9 p {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #292929;
}
.main9 .form {
  text-align: center;
  background-color: #ffffff;
  padding: 3rem 3.5rem;
}
.main9 .form h2 {
  font-size: 1.125rem;
  color: #292929;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
}
.main9 .form input {
  width: 16rem;
  height: 3.375rem;
  border-radius: 0.313rem;
  border: 0.063rem solid #dddddd;
  margin-bottom: 1.5rem;
}
.main9 .form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  padding: 0.5rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 0.813rem;
  color: #565656;
}
.main9 .form button {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  background-color: #fcb303;
  padding: 1.5rem 0;
  margin-bottom: 0.9375rem;
}
.main9 .form small {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: #292929;
  font-size: 0.813rem;
}
.main10 {
  background-color: #286b0a;
  padding: 7.5rem 0;
  text-align: center;
  color: #fcfcfc;
}
.main10 h1 {
  font-size: 2.25rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 3rem;
}
.main10 h2 {
  font-size: 1.188rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  margin-bottom: 4.5rem;
}
.main10 .block img {
  margin-bottom: 2rem;
}
.main10 .block p {
  margin-bottom: 1.8rem;
}
.main10 .block button {
  width: 40%;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  color: #fcfcfc;
  border: none;
  border-radius: 0.5rem;
  background-color: #fcb303;
  padding: 1.2rem 0;
  margin-bottom: 0.9375rem;
}
.main11 {
  background: url(../img/main11/main11-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 5rem 0 2rem;
}
.main11 .content h1 {
  margin-bottom: 4.2rem;
}
.main11 .content p {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: #292929;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}
.main11 .content .map {
  margin-bottom: 1.5rem;
}
.main11 .form {
  text-align: center;
  background-color: #ffffff;
  padding: 3rem 3.5rem;
}
.main11 .form h2 {
  font-size: 1.125rem;
  color: #292929;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
}
.main11 .form input {
  width: 16rem;
  height: 3.375rem;
  border-radius: 0.313rem;
  border: 0.063rem solid #dddddd;
  margin-bottom: 1.5rem;
}
.main11 .form .input {
  height: 6rem;
}
.main11 .form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  padding: 0.5rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 0.813rem;
  color: #565656;
}
.main11 .form button {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  background-color: #fcb303;
  padding: 1.5rem 0;
  margin-bottom: 0.9375rem;
}
footer {
  height: 9rem;
}
footer .img {
  height: 9rem;
  width: 100%;
  display: table;
}
footer .img-block {
  display: table-cell;
  vertical-align: middle;
}
footer .text {
  text-align: center;
  height: 9rem;
  width: 100%;
  display: table;
}
footer .text-block {
  display: table-cell;
  vertical-align: middle;
}
footer .text-block p {
  text-decoration: underline;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #292929;
}
footer .text-block strong {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #292929;
}
footer .obj {
  height: 9rem;
  width: 100%;
  display: table;
}
footer .obj-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
footer .obj-block small {
  display: block;
  font-size: 0.8rem;
  color: black;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
}
/* Media request */
@media (max-width: 991px) {
  .main1 {
    text-align: center;
  }
  .main1 .small {
    margin-left: 0;
  }
  .main3 .block-element {
    width: 70%;
    margin: auto;
    display: block;
    margin-bottom: 4rem;
  }
  .main11 .content p {
    font-size: 1rem;
  }
}
@media (max-width: 1199px) {
  .main4 .main-bg-picture {
    display: none;
  }
  .next {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .prev {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .main7 img {
    display: none;
  }
}
@media (max-width: 767px) {
  .main1 header {
    height: 15rem;
  }
  .exit-button {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    color: #000;
    z-index: 99;
    color: black;
  }
  .modalWindow-content {
    width: 100%;
  }
  .main3 .block-element {
    width: 90%;
    margin: auto;
    display: block;
    margin-bottom: 4rem;
  }
  .main10 .block {
    margin-bottom: 6rem;
  }
  .main10 .block button {
    width: 50%;
  }
  .main11 {
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer .obj-block {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .exit-button {
    color: #ffffff;
  }
}
@media (max-width: 991px) {
  .main5 {
    background-position: top left;
  }
  .main5 .block {
    margin-bottom: 0;
  }
  .main5 .block-element {
    text-align: center;
    margin-bottom: 5rem;
  }
  .main5 .block-element p {
    width: 100%;
  }
  .main5 .block-element .img {
    margin: auto;
  }
  .main9 {
    text-align: center;
  }
  .main10 .block button {
    width: 70%;
  }
}
/* Additional classes */
.brd-red {
  border: 1px solid red;
}
